<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Bot</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<body>

<div class="container">

    <!-- Left Sidebar -->
    <div class="sidebar">

        <h2>Chat History</h2>

        <button id="newChatBtn" onclick="startNewChat()">
            + New Chat
        </button>

        <div id="sessions"></div>

        <button id="clearBtn" onclick="clearChat()">
            + Clear Chat1
        </button>

         <div class="sessions-container">

            {% for session in sessions %}

            <div class="session-item"
                onclick="loadChat('{{ session[0] }}')">

                <span class="session-name">
                    {{ session[1] }}
                </span>

                <button class="session-menu-btn"
                        onclick="showSessionMenu(event, '{{ session[0] }}')">
                    ⋯
                </button>

            </div>

            {% endfor %}

</div>

<!-- Context menu -->
<div id="sessionMenu" class="session-menu">

    <button onclick="renameSelectedSession()">
        ✏️ Rename
    </button>

    <button class="delete-option"
            onclick="deleteSelectedSession()">
        🗑 Delete
    </button>

</div>

    </div>

    <!-- Right Side -->
    <div class="main">

        <!-- Chat Messages -->
        <div id="chatbox"></div>

        <!-- Input -->
        <div class="input-area">

            <input
                type="text"
                id="message"
                placeholder="Type your message..."
                onkeypress="if(event.key==='Enter') sendMessage();"
            >

            <button onclick="sendMessage()">Send</button>

        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

<script>
window.onload = function () {
    if (typeof loadSessions === "function") {
        loadSessions();
    }
};
</script>

</body>
</html>